@model IEnumerable<Store.Domain.Entities.Customers>

@{
    ViewData["Title"] = "MyFirstView";
}

<h1>MyFirstView</h1>
@foreach (var item in Model)
{
    <div>@item.City</div>
    <div>@item.Phone</div>
}
