@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Here are <a href="http://localhost:51968/Customers">Customers by Tavy</a>.</p>
        <p>Here are <a href="http://localhost:51968/Categories">Categories by Tavy</a>.</p>
        <p>Here are <a href="http://localhost:51968/Shippers">Shippers by Tavy</a>.</p>
        <p>Here are <a href="http://localhost:51968/Suppliers">Suppliers by Tavy</a>.</p>
    </div>
